<!-- Row -->
<div class="row">
  <div class="col-12 m-t-30">
    <h4 class="m-b-0">Yosemite NAtional Park, CA</h4>
    <p class="text-muted m-t-0 font-12">
      This were some pictures from 2018 CA vacation.
    </p>
    <div class="card-group">
      <div class="card">
        <img
          class="card-img-top img-responsive"
          src="assets/images/photos/yosemite2.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h4 class="card-title">Tunnel View</h4>
          <p class="card-text">
            Spectacular view Yosemite valley!! Yosemite Valley is world famous
            for its impressive waterfalls, meadows, cliffs, and unusual rock
            formations; accessible by car year-round.
          </p>
          <p class="card-text">
            <small class="text-muted">Last updated 3 mins ago</small>
          </p>
        </div>
      </div>
      <div class="card">
        <img
          class="card-img-top img-responsive"
          src="assets/images/photos/yosemite1.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h4 class="card-title">Half Dome</h4>
          <p class="card-text">
            Half Dome is perhaps the most recognized symbol of Yosemite. Rising
            nearly 5,000 feet above the Valley floor
          </p>
          <p class="card-text">
            <small class="text-muted">Last updated 3 mins ago</small>
          </p>
        </div>
      </div>
      <div class="card">
        <img
          class="card-img-top img-responsive"
          src="assets/images/photos/yosemite-night.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h4 class="card-title">Viewpoints</h4>
          <p class="card-text">
            Over eons, rivers and glaciers somehow carved 3,000 feet into solid
            granite to create Yosemite Valley. The nuances of the Valley form
            spectacular rock formations, for which Yosemite Valley is famous.
          </p>
          <p class="card-text">
            <small class="text-muted">Last updated 3 mins ago</small>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 m-t-30">
    <h4 class="m-b-0">
      I <i class="fas fa-heart" style="color: red"></i> mother nature!!
    </h4>
    <p class="text-muted m-t-0 font-12">Weekend trips!!</p>
    <div class="card-group">
      <div class="card">
        <img
          class="card-img-top img-responsive"
          src="assets/images/photos/venice.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h4 class="card-title">Venice beach, CA</h4>
          <p class="card-text">
            Blue waters, clear skies at the pacific ocean.
          </p>
          <p class="card-text">
            <small class="text-muted">Last updated 3 mins ago</small>
          </p>
        </div>
      </div>
      <div class="card">
        <img
          class="card-img-top img-responsive"
          src="assets/images/photos/s-dakota.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h4 class="card-title">Bad lands, SD</h4>
          <p class="card-text">Wilderness of the bison's & hot red sun.</p>
          <p class="card-text">
            <small class="text-muted">Last updated 3 mins ago</small>
          </p>
        </div>
      </div>
      <div class="card">
        <img
          class="card-img-top img-responsive"
          src="assets/images/photos/nature.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h4 class="card-title">Cuyahoga National Park, OH</h4>
          <p class="card-text">Moon is and always an obsession.</p>
          <p class="card-text">
            <small class="text-muted">Last updated 3 mins ago</small>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Row -->
