<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <h3>Hey, I'm Aakash Nethi</h3>
        <h3>A Web Applications Developer from Columbus, OH</h3>

        <p>
          As a passionate front-end developer, I create amazing websites and
          server-side softwares to make the internet a better place. I am an
          enthusiast to learn new skills which will help me to grow personally &
          professionally.
        </p>
        <p>
          I have been a web developer for as long as I can think. The
          technologies I work with are JavaScript, HTML and CSS with a focus on
          the frameworks Angular, Node and Express. I use code not only to do my
          day-to-day job, but also to solve everyday problems I come across.
        </p>
        <p>
          When I am not writing code I love to spend time travelling to see what
          nature has everything to show, capture moments of what I see through
          my lenses, always up for weekend hiking. I'm quite a multi-cultural
          person having grown up in India. I myself speak three languages.
          Furthermore I enjoy cooking fresh food when I come home after a long
          day at the office.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title m-b-5">Technical Skills</h2>
        <h5 class="font-light">Programming Languages</h5>
        <div class="m-auto mt-2" style="height: 25px">
          <span class="label label-success label-rounded">C</span>
          <span class="label label-success label-rounded">C++</span>
          <span class="label label-success label-rounded">JAVA</span>
          <span class="label label-success label-rounded">C#</span>
          <span class="label label-success label-rounded">JavaScript</span>
          <span class="label label-success label-rounded">TypeScript</span>
        </div>
        <h5 class="font-light">Client-Side Technologies</h5>
        <div class="m-auto mt-2" style="height: 25px">
          <span class="label label-purple label-rounded">HTML5</span
          ><span class="label label-purple label-rounded">CSS3</span
          ><span class="label label-purple label-rounded">Bootstrap 4</span
          ><span class="label label-purple label-rounded">ZURB Foundation</span>
        </div>
        <h5 class="font-light">Web Technologies</h5>
        <div class="m-auto mt-2" style="height: 25px">
          <span class="label label-info label-rounded">ASP.NET Core</span>
          <span class="label label-info label-rounded">Web API’s</span>
          <span class="label label-info label-rounded">Entity Frameworks</span>
          <span class="label label-info label-rounded"
            >Angular v4, 5, 6, 7</span
          >
        </div>
        <h5 class="font-light">UI Controls/ Data Visualization</h5>
        <div class="m-auto mt-2" style="height: 25px">
          <span class="label label-danger label-rounded">Material</span>
          <span class="label label-danger label-rounded"
            >Kendo UI Telerik Framework
          </span>
        </div>
        <h5 class="font-light">Databases</h5>
        <div class="m-auto mt-2" style="height: 25px">
          <span class="label label-success label-rounded">SQL Server</span>
          <span class="label label-success label-rounded">DB2</span>
        </div>
        <h5 class="font-light">JS Libraries</h5>
        <div class="m-auto mt-2" style="height: 25px">
          <span class="label label-purple label-rounded">CSS (SASS, LESS)</span>
          <span class="label label-purple label-rounded"
            >JavaScript (jQuery, jQuery Mobile)</span
          >
        </div>
        <h5 class="font-light">Testing</h5>
        <div class="m-auto mt-2" style="height: 25px">
          <span class="label label-info label-rounded">Jasmine</span>
          <span class="label label-info label-rounded">Protractor</span>
          <span class="label label-info label-rounded">Karma</span>
          <span class="label label-info label-rounded">Cucumber</span>
          <span class="label label-info label-rounded">Gherkin</span>
        </div>
        <h5 class="font-light">Version Controls</h5>
        <div class="m-auto mt-2" style="height: 25px">
          <span class="label label-danger label-rounded">SVN</span>
          <span class="label label-danger label-rounded">GitHub</span>
          <span class="label label-danger label-rounded">Azure DevOps</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <!-- column -->
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Work Experience</h4>
      </div>
      <div class="comment-widgets">
        <!-- Comment Row -->
        <div class="d-flex flex-row comment-row m-t-0">
          <div class="p-2">
            <img
              src="assets/images/users/1.jpg"
              alt="user"
              width="50"
              class="rounded-circle"
            />
          </div>
          <div class="comment-text w-100">
            <h6 class="font-medium">
              OPERS - Ohio Public Employees Retirement System
              <br />
              Angular Programmer Analyst
              <span class="text-muted float-right">Feb 2020 – Till Date</span>
            </h6>
            <ul style="list-style: square">
              <li>
                <span class="m-b-15 d-block"
                  >Worked in Test Driven Development environment, leveraging QA
                  automation test suite to provide unit tests and integration
                  tests for all new functionality
                </span>
              </li>
              <li>
                <span class="m-b-15 d-block"
                  >Responsible for creating efficient design and developing User
                  Interaction screens using HTML, CSS3, Zurb Foundation,
                  JavaScript, Angular 7 and Node JS.
                </span>
              </li>
              <li>
                <span class="m-b-15 d-block"
                  >Implemented HTTP requests using RxJS Observable library to
                  handle multiple values over time.
                </span>
              </li>
              <li>
                <span class="m-b-15 d-block"
                  >Worked with JSON-server library for creating mock services
                  and mock data before the services are ready.
                </span>
              </li>
              <li>
                <span class="m-b-15 d-block"
                  >Create and develop SQL, LINQ Queries and Stored Procedures
                  using SQL Management Studio and SQuirreL SQL Client to perform
                  data related operations.
                </span>
              </li>
              <li>
                <span class="m-b-15 d-block"
                  >Worked with JASMINE in testing and Protractor for unit
                  testing angular modules. Wrote e2e tests on modules using
                  protractor leveraging cucumber gherkin syntax.</span
                >
              </li>
              <li>
                <span class="m-b-15 d-block"
                  >Used TeamForge CollabNet for ticketing and bug tracking. Git
                  is used as a version control tool and Jenkins is used for
                  continuous integration of builds.</span
                >
              </li>
            </ul>
            <div class="comment-footer">
              <span class="text-muted">
                <b>Environment:</b> Angular (v7&8), RxJs, Angular Material, DB2,
                JSON server, node.js, Jasmine, Karma, Protractor, Cucumber,
                Gherkin syntax, Jenkins.
              </span>
            </div>
          </div>
        </div>
        <!-- Comment Row -->
        <div class="d-flex flex-row comment-row">
          <div class="p-2">
            <img
              src="assets/images/users/1.jpg"
              alt="user"
              width="50"
              class="rounded-circle"
            />
          </div>
          <div class="comment-text w-100">
            <h6 class="font-medium">
              Parker Hannifin
              <br />
              Web Application Developer
              <span class="text-muted float-right">Feb 2017 – Feb 2020</span>
            </h6>
            <h6 class="font-medium">Project 2: PhConnect – Buy Side</h6>
            <ul style="list-style: square">
              <li>
                <span class="m-b-15 d-block"
                  >Implemented a dashboard web application from scratch based on
                  ASP.NET Core 2.1 model view controller (MVC) architecture with
                  Razor views and including dependency injection (DI) and Entity
                  Framework Core, identity user, role and claims management
                  according to UI layouts and business requirements.
                </span>
              </li>
              <li>
                <span class="m-b-15 d-block"
                  >Worked on analyzing business requirements and developed
                  entire architecture for modernizing legacy application to new
                  tool. Where took advantage of .Net Core 2.1 and .Net Standard
                  2.0 technologies in creating modularized applications.
                </span>
              </li>
              <li>
                <span class="m-b-15 d-block"
                  >Implemented ASP.NET Core View Components to display common UI
                  parts with the possibility to update data via jQuery
                  unobtrusive Ajax.
                </span>
              </li>
              <li>
                <span class="m-b-15 d-block"
                  >Configured code-first EF Core 2.1 migrations and automated
                  the database recreation process, which updates schema and
                  populates mandatory.
                </span>
              </li>
              <li>
                <span class="m-b-15 d-block"
                  >Used Session, Cache to improve performance to retains values
                  across different controls.
                </span>
              </li>
              <li>
                <span class="m-b-15 d-block"
                  >Offshore coordinator to translate requirements from business
                  - team to achieve on-time deliverables.</span
                >
              </li>
              <li>
                <span class="m-b-15 d-block"
                  >Create and publish NuGet packages (console apps) and maintain
                  the Nugets in Azure Artifacts/ file share that several teams
                  use.</span
                >
              </li>
              <li>
                <span class="m-b-15 d-block"
                  >Worked in Creating the CI/CD Azure DevOps build/ release
                  pipelines for web apps, api’s and console applications to IIS
                  servers.</span
                >
              </li>
              <li>
                <span class="m-b-15 d-block"
                  >Creating and Managing the users, groups and access tokens in
                  Azure AD.</span
                >
              </li>
              <li>
                <span class="m-b-15 d-block"
                  >Created console application like multi-language variables,
                  connection manager, offlineCache (for reusing across different
                  projects) using .net standard and published to corporate Azure
                  artifacts to feed web applications.</span
                >
              </li>
              <li>
                <span class="m-b-15 d-block"
                  >Used Dynatrace for error monitoring and performance
                  improvements using features it provides to see pure-paths/
                  check if multiple DB calls being made and improve
                  performance.</span
                >
              </li>
              <li>
                <span class="m-b-15 d-block"
                  >Involved in day to day activities in modifying stored
                  procedures, writing SQL Server/ DB2 quires based on
                  requirements.</span
                >
              </li>
            </ul>
            <div class="comment-footer">
              <span class="text-muted">
                <b>Environment:</b> Visual Studio 2017, .Net Core 2.1, .Net
                Standard 2.0, Razor Class Libraries, DI, MVC, Asp.Net Core
                Identity, 1.Net Core View Components, Web Api 2.0, C# 7.0, Kendo
                UI Controls, Bootstrap 4, SQL Server 2012, Entity Framework 7,
                LINQ, Swagger, Swashbuckle, IIS 10, Jira, Kanban boards, Agile
                Development.
              </span>
            </div>
            <br />
            <h6 class="font-medium">Project 1: Parker Tracking System (PTS)</h6>
            <ul style="list-style: square">
              <li>
                <span class="m-b-15 d-block"
                  >Developed single page applications using Angular 4,
                  Typescript, HTML5, CSS3, and Bootstrap4.
                </span>
              </li>
              <li>
                <span class="m-b-15 d-block"
                  >Created Typescript reusable components and services to
                  consume REST API's using Component-based architecture provided
                  by Angular 4.
                </span>
              </li>
              <li>
                <span class="m-b-15 d-block"
                  >Created reusable templates using Angular directives and
                  worked with NPM package manager tools (Node JS).
                </span>
              </li>
              <li>
                <span class="m-b-15 d-block"
                  >Good knowledge on using Angular APIs like @angular/http [For
                  making HTTP requests], @angular/common [Common core things
                  including form validation], @angular/router [Routing for the
                  entire app].
                </span>
              </li>
              <li>
                <span class="m-b-15 d-block"
                  >Implemented HTTP requests using Rxjs Observable library to
                  handle multiple values over time.
                </span>
              </li>
              <li>
                <span class="m-b-15 d-block"
                  >Good knowledge on creating services with Angular 4
                  @injectable property, as to make the service available for
                  dependency injection when creating components.
                </span>
              </li>
              <li>
                <span class="m-b-15 d-block"
                  >Worked with Kendo UI Angular for developing a dashboard which
                  contains the all the data using different modules with various
                  controls including Grid controls, and chart controls etc.
                </span>
              </li>
              <li>
                <span class="m-b-15 d-block"
                  >Called the Restful web service calls for POST, PUT, DELETE
                  and GET methods.</span
                >
              </li>
              <li>
                <span class="m-b-15 d-block"
                  >Extensively worked with making calls to WEB APIs to fetch the
                  data from the back end as JSON response and parse it on the UI
                  for DOM/CSS Manipulation.
                </span>
              </li>
              <li>
                <span class="m-b-15 d-block"
                  >Solid knowledge of JSON Web Token based Authentication API
                  authorization flow.
                </span>
              </li>
              <li>
                <span class="m-b-15 d-block"
                  >Designed dynamic client-side JavaScript codes to build web
                  forms and simulate process for a web application, page
                  navigation using Angular 4.
                </span>
              </li>
              <li>
                <span class="m-b-15 d-block"
                  >Used Bitbucket for managing source code.
                </span>
              </li>
            </ul>
            <div class="comment-footer">
              <span class="text-muted">
                <b>Environment:</b> HTML5, CSS, Bootstrap 4, SASS, Angular 4,
                Angular CLI, Typescript, Telerik kendo UI, Microsoft Azure,
                Jasmine, Karma.
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
